img {
  max-width: 100%;
  max-height: 100%;
}
iframe {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spinning-logo {
  animation: App-logo-spin 2s linear infinite; /* Apply the animation */
}

@keyframes pageLoadAnimation {
  from{
    opacity: 0;
    transform: translateX(-100px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
.pageLoadAnimation {
  animation: pageLoadAnimation 0.3s ease-in-out forwards;
}

body {
/* fallback for old browsers */
background: #6a11cb;
background-image: linear-gradient(to top, #898e9d, #9a9ead, #abaebd, #bcbfcd, #ced0de, #d8d9e6, #e2e3ee, #ececf6, #f0f0f7, #f4f3f8, #f7f7fa, #fbfbfb);
/* set the gradient on all the page */
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;

}




@media (max-width: 900px) {
  .cascading-right {
    margin-right: 0;
  }
}